*{
    box-sizing: border-box;
}
body{
    font-family: "Open Sans Condensed", sans-serif !important;
    padding: 20px 70px;
}
a{
    text-decoration: none !important;
}
a:hover{
    color: inherit;
}